:root {
    /* Color Variables */
    --off-white: #f8fdff;
    --dark-blue: #292546;
    --pale-purple: #BBB8D1;
    --dark-green: #798276;
    --pale-green: #B0BAAD;
    --light-gray: #EBEBEB;
    --mid-gray: #C6CACC;
}

#site-title {
    color:  var(--dark-blue);
    font-family:'Caudex', serif;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
}
#site-title:hover {
    color: var(--dark-green);
}
nav {
    background-color: var(--pale-green);
    width: 100vw;
    height: 8vh;
    margin: 0 0 0 -0.5rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}
ul {
    list-style-type: none;
}
#home-nav {
    color: var(--dark-blue);
    font-size: 1.2rem;
    transition: 0.3s;
}
#home-nav:hover {
    text-decoration: underline;
}

body {
    background-color: var(--light-gray);
    height: fit-content;
}
a:link {
  text-decoration: none; /* removes  default underline for links*/
}

#short-info {
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.editor {
    display: grid;
    /* grid-template-columns: 1fr 0fr 2fr 2fr; */
    background-color: var(--off-white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-blue);
    height: fit-content;
    max-width: 90vw;
    padding: 0em 0em 1em 1em;
    margin: auto;
    margin-bottom: 2rem;
    column-gap: 1rem;
    /* 			overflow: visible; */    
    /* align-items: center; */
    overflow: hidden;
}
.colors {
    display: grid; 
    grid-template-columns: 6rem 6rem;
    justify-items: center;
    padding: 0rem 1rem 1rem 0rem;
    column-gap: 1rem;
    width: 12rem;
    height: 25rem;
}
#color1{
    background-color: var(--light-gray);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    /* margin-left: -9.5em; */
    margin-top: 2em;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/auto;
}
#color1:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color1value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
    /* border-radius: 50%; */
}
#color2{
    background-color: var(--mid-gray);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 2em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color2:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color2value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color3{
    background-color: var(--pale-purple);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    margin-top: 10.5em;
    border-radius: 50%;
    grid-column: 1/auto;
    grid-row: 1/auto;
}
#color3:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color3value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color4{
    background-color: var(--dark-green);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 10.5em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color4:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color4value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color5{
    background-color: var(--pale-green);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    margin-top: 19em;
    border-radius: 50%;
    grid-column: 1/auto;
    grid-row: 1/auto;
}
#color5:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color5value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color6{
    background-color: var(--dark-blue);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 19em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color6:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color6value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#font1 {
    font-family:'Caudex', serif;
    grid-column: 3/auto;
    grid-row: 1/auto;
}
.h1f1 {
    font-size: 4rem;
}
.h3f1 {
    font-size: 1.8rem;
}
.h5f1 {
    font-size: 1.4rem;
}
.smallest-font1 {
    font-size: 1rem;
}

/* This now works, but needs to be changed to appear when Font 1 is clicked on 
    also the placement is strange */
/* #input-font1{
    /* display: none; 
} */

#font2 {
    font-family: 'Montserrat', sans-serif;
    grid-column: 4/auto;
    grid-row: 1/auto;
    padding-left: 2rem;
}
.h1f2 {
    font-size: 4rem;
}
.h3f2 {
    font-size: 1.8rem;
}
.h5f2 {
    font-size: 1.4rem;
}
.smallest-font2 {
    font-size: 1rem;
}

/* This now works, but needs to be changed to appear when Font 2 is clicked on 
    also the placement is strange */
/* #input-font2{
    /* display: none;  
} */

/* Tab styling */
.tab {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    border: none;
    max-width: 91.2vw;
    margin: auto;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: var(--dark-green);
    float: left;
    border: 1px solid var(--dark-blue);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--mid-gray);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--off-white);
    border: 1px solid var(--dark-blue);
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    background-color: var(--off-white);
    max-width: 89.4vw;
    padding: 6px 12px;
    border: 1px solid var(--dark-blue);
    border-top: 1px solid var(--dark-blue);
    margin: auto;
}

#footer {
    background-color: var(--pale-green);
    width: 100vw;
    height: 12vh;
    margin: 4rem 0 -0.5rem -0.5rem;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkedin-icon {
    scale: 0.7;
    transition: 0.3s;
    border-radius: 6px;
}
#linkedin-icon:hover {
    background-color: var(--light-gray);
}
#github-icon {
    transition: 0.3s;
}
#github-icon:hover {
    background-color: var(--light-gray);
}