:root {
    /* Color Variables */
    --off-white: #f8fdff;
    --dark-blue: #292546;
    --pale-purple: #BBB8D1;
    --dark-green: #798276;
    --pale-green: #B0BAAD;
    --light-gray: #EBEBEB;
    --mid-gray: #C6CACC;
}

#site-title {
    color:  var(--dark-blue);
    font-family:'Caudex', serif;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
}
#site-title:hover {
    color: var(--dark-green);
}
nav {
    background-color: var(--pale-green);
    width: 100vw;
    height: 8vh;
    margin: 0 0 0 -0.5rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}
ul {
    list-style-type: none;
}
#home-nav {
    color: var(--dark-blue);
    font-size: 1.2rem;
    transition: 0.3s;
}
#home-nav:hover {
    text-decoration: underline;
}

body {
    background-color: var(--light-gray);
    height: fit-content;
}
a:link {
  text-decoration: none; /* removes  default underline for links*/
}

#short-info {
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.editor {
    display: grid;
    /* grid-template-columns: 1fr 0fr 2fr 2fr; */
    background-color: var(--off-white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-blue);
    height: fit-content;
    max-width: 90vw;
    padding: 0em 0em 1em 1em;
    margin: auto;
    margin-bottom: 2rem;
    column-gap: 1rem;
    /* 			overflow: visible; */    
    /* align-items: center; */
    overflow: hidden;
}
.colors {
    display: grid; 
    grid-template-columns: 6rem 6rem;
    justify-items: center;
    padding: 0rem 1rem 1rem 0rem;
    column-gap: 1rem;
    width: 12rem;
    height: 25rem;
}
#color1{
    background-color: var(--light-gray);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    /* margin-left: -9.5em; */
    margin-top: 2em;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/auto;
}
#color1:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color1value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
    /* border-radius: 50%; */
}
#color2{
    background-color: var(--mid-gray);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 2em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color2:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color2value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color3{
    background-color: var(--pale-purple);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    margin-top: 10.5em;
    border-radius: 50%;
    grid-column: 1/auto;
    grid-row: 1/auto;
}
#color3:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color3value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color4{
    background-color: var(--dark-green);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 10.5em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color4:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color4value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color5{
    background-color: var(--pale-green);
    width: 6em;
    height: 6em;
    /* margin-left: -13em; */
    margin-top: 19em;
    border-radius: 50%;
    grid-column: 1/auto;
    grid-row: 1/auto;
}
#color5:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color5value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#color6{
    background-color: var(--dark-blue);
    width: 6em;
    height: 6em;
    /* margin-left: -7em; */
    margin-top: 19em;
    border-radius: 50%;
    grid-column: 2/auto;
    grid-row: 1/auto;
}
#color6:hover {
    width: 7em;
    height: 7em;
    cursor: pointer;
}
#color6value {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem; 
}
#font1 {
    font-family:'Caudex', serif;
    grid-column: 3/auto;
    grid-row: 1/auto;
}
#h1f1 {
    font-size: 4rem;
}
#h1f1:hover{
    cursor: pointer;
}
#h3f1 {
    font-size: 1.8rem;
}
#h5f1 {
    font-size: 1.4rem;
}
#smallest-font1 {
    font-size: 1rem;
}

/* This now works, but needs to be changed to appear when Font 1 is clicked on 
    also the placement is strange */
#input-font1{
    display: none;
    position: absolute;
    margin-top: 2rem;
} 

#font2 {
    font-family: 'Montserrat', sans-serif;
    grid-column: 4/auto;
    grid-row: 1/auto;
    padding: 0 1rem 0 0rem;
}
#h1f2 {
    font-size: 4rem;
}
#h1f2:hover{
    cursor: pointer;
}
#h3f2 {
    font-size: 1.8rem;
}
#h5f2 {
    font-size: 1.4rem;
}
#smallest-font2 {
    font-size: 1rem;
}

/* This now works, but needs to be changed to appear when Font 2 is clicked on 
    also the placement is strange */
#input-font2 {
    display: none; 
    position: absolute;
    margin-top: 2rem;
}

/* Tab styling */
.tab {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    border: none;
    max-width: 91.2vw;
    margin: auto;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: var(--dark-green);
    float: left;
    border: 1px solid var(--dark-blue);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--mid-gray);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--off-white);
    border: 1px solid var(--dark-blue);
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    background-color: var(--off-white);
    max-width: 89.4vw;
    padding: 6px 12px;
    border: 1px solid var(--dark-blue);
    border-top: 1px solid var(--dark-blue);
    margin: auto;
    overflow: hidden;
}


/* Homepage */
#homepage-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* homepage desktop */
#desktop-container-homepage {
    /* background-color: #292546; */
    width: 45rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-d{
    background-color: #EBEBEB;
    width: 50vw;
    height: 37vw;
}
#header-d {
    background-color: #BBB8D1;
    width: 50vw;
    height: 4vh;
}
#site-title-d {
    font-family: 'Caudex', serif;
    margin-left: 3vw;
    
/* 			padding-bottom: 0.5rem; */
}
#nav-menu {
    font-family: "Caudex", serif;
    text-align: right;
    margin-top: -4vh; 
    margin-right: 3vw;
    margin-bottom: -5vh; 
/* 			padding: 0.5rem; */
}
.body-d {
    width: 50vw;
    height: fit-content;
}
#homepage-title-d {
    text-align: center;
    font-size: 1.5em;
    margin-top: -0.2vh;
}
#home-img-d {
    width: 15rem; 
    height: 15rem; 
    margin-left: 3vw; 
    margin-top: -1vh;
}
#figcaption-d {
    color: #798276;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65em; 
    margin-left: 8vw; 
    margin-bottom: 1rem;
}
#body-text01 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em; 
    /* line-height: 1.5em; */
    margin-top: -23vh;
    margin-left: 24vw;
}
#strip-d {
    background-color: #C6CACC;
    text-align: center;
    width: 42vw;
    height: 16.5vh;
    margin-top: 16vh;
    padding: 0 4vw 0 4vw;
}
#strip-title {
    font-family: 'Caudex', serif;
}
#strip-text01 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    /* line-height: 1.5em; */
}
#btn01 {
    background-color: #292546;
    color: #F8FDFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em; 
    border-radius: 16px;
}
#btn01:hover {
    background-color: #BBB8D1;
    color: #292546;
}
#footer-d {
    background-color: #BBB8D1;
    width: 50vw;
    height: 5vh;
    margin-top: 6vh; 
    margin-bottom: 5vh;
}
/* Homepage Mobile View CSS */
#mobile-container-homepage {
    /* background-color: #292546; */
    width: 25rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-m{
    background-color: #EBEBEB;
    width: 28vw;
    /* height: 35.2rem; */
    height: 37vw;
}
#header-m {
    background-color: #BBB8D1;
    width: 28vw;
    height: 4vh;
}
#site-title-m {
    margin-left: 3vw;
}
#nav-menu-m {
    font-family: "Caudex", serif;
    text-align: right;
    margin-top: -4.5vh; 
    margin-right: 3vw;
}
.body-m {
    width: 28vw;
    height: fit-content;
}
#homepage-title-m {
    text-align: center;
    font-size: 1.5em; 
    margin-top: -0.2vh; /* originally -0.2vh*/
}
#home-img-m {
    width: 15rem; 
    height: 15rem; 
    margin-left: 5vw; 
    margin-top: -3vh;
}
#figcaption-m {
    color: #798276;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65em;
    margin-left: 9vw;
    margin-top: 0vh;
}
#body-text01-m {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    /* line-height: 1.5em; */
    text-align: center;
    margin-top: 0.5vh; 
}
#strip-m {
    background-color: #C6CACC;
    text-align: center;
    width: 20vw;
    height: 16vh;
    margin-top: -1vh;
    padding: 0 4vw 0 4vw;
}
/* .strip-title-m {

} */
#strip-text01-m {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    /* line-height: 1.5em; */
    margin-top: -1vh;
    margin-bottom: 0.2vh;
}
#btn01-m {
    background-color: #292546;
    color: #F8FDFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em; 
    text-align: center;
    border-radius: 16px;
}
#btn01-m:hover {
    background-color: #BBB8D1;
    color: #292546;
}
#footer-m {
    background-color: #BBB8D1;
    width: 28vw;
    height: 4vh;
    margin-top: 2vh; 
}

/* #Contact-page */
#contact-page-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* Desktop contact page */
#desktop-container-contact-page {
    /* background-color: #292546; */
    width: 45rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-cd{
    background-color: #EBEBEB;
    width: 50vw;
    height: 39vw;
}
#header-cd {
    background-color: #BBB8D1;
    width: 50vw;
    height: 5vh;
}
#site-title-cd {
    margin-left: 3vw;
}
#nav-menu-cd {
    font-family: "Caudex", serif;
    text-align: right;
    margin-top: -4vh; 
    margin-right: 3vw;
    margin-bottom: -5vh; 
}
.body-cd {
    width: 50vw;
    height: fit-content;
}
#homepage-title-cd {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1vh;
}
#strip-cd {
    background-color: #C6CACC;
    text-align: center;
    width: 35vw;
    height: 13rem;
    margin-top: 4vh;
    margin-left: 7vh;
    padding: 0 4vw 0 4vw;
}
#strip-text01-cd {
    font-size: 0.8em;
}
#name-label-cd {
    font-family: 'Caudex', serif;
}
#name-cd {
    font-family: 'Montserrat', sans-serif;
    width:20.5rem; 
    margin-top:2vh; 
}
#email-label-cd {
    font-family: 'Caudex', serif;
}
#email-cd {
    font-family: 'Montserrat', sans-serif;
    width:20.5rem; 
    margin-top:2vh;
}
#subject-label-cd {
    font-family: 'Caudex', serif;
    float:left; 
    margin-top: 2rem;
    margin-left: 3rem;
}
#subject-cd {
    font-family: 'Montserrat', sans-serif;
    height:50px; 
    width: 24rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
}
#submit-btn-cd {
    color: #f8fdff;
    background-color: #292546; 
    font-family: 'Montserrat', sans-serif; 
    float: right;
}
#submit-btn-cd:hover {
    background-color: #BBB8D1;
    color: #292546;
}
#footer-cd {
    background-color: #BBB8D1;
    width: 50vw;
    height: 8vh;
    margin-top: 26vh;
}
/* mobile contact page */
#mobile-container-contact-page {
    /* background-color: #292546; */
    width: 25rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-cm{
    background-color: #EBEBEB;
    width: 28vw;
    height: 39vw;
}
#header-cm {
    background-color: #BBB8D1;
    width: 28vw;
    height: 5vh;
}
#site-title-cm {
    margin-left: 3vw;
}
#nav-menu-cm {
    font-family: "Caudex", serif;
    text-align: right;
    margin-top: -4vh;
    margin-right: 3vw;
}
.body-cm {
    width: 28vw;
    height: fit-content;
}
#homepage-title-cm {
    text-align: center;
    font-size: 1.5em;
    margin-top: -0.2vh;
}
#body-text01-cm {
    font-size: 0.8em;
    text-align: center;
    margin-top: -0.5vh;
}
#strip-cm {
    background-color: #C6CACC;
    text-align: center;
    width: 20vw;
    height: 40vh;
    margin-top: 4vh;
    margin-left: 0vh;
    padding: 0 4vw 0 4vw;
}
#strip-text01-cm {
    font-size: 0.8em;
    margin-top: -1vh;
    margin-bottom: 0.2vh;
}
#name-label-cm {
    font-family: 'Caudex', serif;
}
#name-cm {
    font-family: 'Montserrat', sans-serif;
    width: 12rem; 
    margin-top:2vh; 
}
#email-label-cm {
    font-family: 'Caudex', serif;
}
#email-cm {
    font-family: 'Montserrat', sans-serif;
    width:12rem; 
    margin-top:2vh; 
}
#subject-label-cm {
    font-family: 'Caudex', serif;
    float:left; 
    margin-top: 2rem; 
    margin-left: 1.3rem;
}
#subject-cm { 
    font-family: 'Montserrat', sans-serif;
    height:50px; 
    width:10.5rem; 
    margin-top:2vh; 
}
#submit-btn-cm {
    color: #f8fdff;
    background-color: #292546; 
    font-family: 'Montserrat', sans-serif; 
    /* float: right; */
}
#submit-btn-cm:hover {
    background-color: #BBB8D1;
    color: #292546;
}
#footer-cm {
    background-color: #BBB8D1;
    width: 28vw;
    height: 6vh;
    margin-top: 16vh;
}

/* #Article */
#article-page-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* margin-bottom: 2rem; */
}
/* article desktop */
#desktop-container-article {
    /* background-color: #292546; */
    width: 45rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-ad{
    background-color: #EBEBEB;
    width: 50vw;
    height: 39vw;
}
#header-ad {
    background-color: #BBB8D1;
    width: 50vw;
    height: 5vh;
}
.site-title-ad {
    font-family: 'Caudex', serif;
    margin-left: 3vw;
}
.nav-menu-ad {
    font-family: 'Caudex', serif;
    text-align: right;
    margin-top: -4vh; 
    margin-right: 3vw;
}
.body-ad {
    width: 50vw;
    height: fit-content;
}
.article-title-ad {
    font-family: 'Caudex', serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 7vw;
    margin-right: 6vw;
}
.article-info {
    color: #798276;
    font-family: 'Caudex', serif;
    font-size: 0.65em;
    margin-left: 7vw; 
    margin-top: -1vh;
}
#article-img-d {
    width: 32rem; 
    height: 15rem; 
    margin-left: 7vw; 
    margin-top: -1vh;
}
.article-figcaption {
    color: #798276;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65em;
    margin-left: -1vw; 
    margin-top: 0vh;
    text-align: center;
}
.body-text01-ad {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-top: 1vh;
    margin-left: 7vw;
    margin-right: 7vw;
}
#footer-ad {
    background-color: #BBB8D1;
    width: 50vw;
    height: 5vh;
    margin-top: 0vh;
}
/*article mobile template  */
#mobile-container-article {
    /* background-color: #292546; */
    width: 25rem;
    height: 35.2rem;
    margin: 1rem 0 2rem 0;
    
    overflow: hidden;
}
#container-am{
    background-color: #EBEBEB;
    width: 28vw;
    height: 39vw;
}
#header-am {
    background-color: #BBB8D1;
    width: 28vw;
    height: 5vh;
}
.site-title-am {
    font-family: "Caudex", serif;
    margin-left: 3vw;
}
.nav-menu-am {
    font-family: "Caudex", serif;
    text-align: right;
    margin-top: -4vh;
    margin-right: 3vw;
}
.body-am {
    width: 28vw;
    height: fit-content;
}
.article-title-am {
    font-family: 'Caudex', serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.article-info-m {
    color: #798276;
    font-family: "Caudex", serif;
    font-size: 0.65em;
    margin-left: 1vw; 
    margin-top: -1vh;
}
#article-img-m {
    width: 23rem; 
    height: 15rem; 
    margin-left: 1vw; 
    margin-top: -1vh;
}
.article-figcaption-m {
    color: #798276;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65em;
    margin-left: -1vw; 
    margin-top: 0vh;
    text-align: center;
}
.body-text01-am {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    margin-top: 1rem;
    margin-left: 1vw;
    margin-right: 1vw;
}
#footer-am {
    background-color: #BBB8D1;
    width: 28vw;
    height: 5vh;
    margin-top: 0vh;
}


#footer {
    background-color: var(--pale-green);
    width: 100vw;
    height: 12vh;
    margin: 4rem 0 -0.5rem -0.5rem;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkedin-icon {
    scale: 0.7;
    transition: 0.3s;
    border-radius: 6px;
}
#linkedin-icon:hover {
    background-color: var(--light-gray);
}
#github-icon {
    transition: 0.3s;
}
#github-icon:hover {
    background-color: var(--light-gray);
}